body {
    color: #444444;
    background-color: white;
    font-weight: 400;
}

.slide {
    text-shadow: none;
}

code, pre {
	font-family: Monaco;
	font-size: 24pt;
	line-height: normal;
}

p {
    text-align: justify;
}

#slide4 img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;


}

#slide10 h1 {
    font-size: 500%;
    text-align: center;
}

#slide9 img {
    display: block;
    margin-top: -150px;
    float: right;
    width: 50%;
}
